
<ion-content [fullscreen]="true" class="main">
  <div class="bubble"><h5 style="padding: 15px; color: #fff; text-align: center; font-weight:bold">Fashion Designer</h5></div>
  <ion-grid>
  <ion-row class="logo-holder">
    <ion-col size="12">
      <h3  style="color: #000;">All Fashion Designer Materials</h3>
      <ion-card>
        <ion-card-content>
          <ion-row>
          <ion-col size="4">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="8">
            <h3 style="">Introduction to Fashion Designer</h3>
            <ion-router-link href="/view-material" class="ion-align-self-end" style="color: #20AC7A; text-align: right; font-weight: bold"><ion-icon name="arrow-forward-outline"></ion-icon> View</ion-router-link>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
          <ion-col size="4">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="8">
            <h3 style="">Introduction to Fashion Designer</h3>
            <ion-router-link href="/view-material" class="ion-align-self-end" style="color: #20AC7A; text-align: right; font-weight: bold"><ion-icon name="arrow-forward-outline"></ion-icon> View</ion-router-link>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>    
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
