
<ion-content [fullscreen]="true" class="main">
  <div class="bubble"><h5 style="padding: 15px; color: #fff; text-align: center; font-weight:bold">Fashion Designer</h5></div>
  <ion-grid>
  <ion-row class="logo-holder">
    <ion-col size="12">
      <ion-card>
        <ion-card-content>
          <ion-row>
          <ion-col size="12">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="12">
            <h3 style="">Introduction to Fashion Designer</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis voluptas natus officia ipsa a, esse aliquam nesciunt ut illum, est, delectus quisquam nobis dolore! Quas magnam omnis possimus tempore fugit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, quisquam? Sapiente repellendus, perspiciatis doloremque incidunt sint ab nisi aliquam voluptates, aperiam veritatis officiis quae odio recusandae numquam, impedit nostrum repellat!</p>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
          
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
