
<ion-content [fullscreen]="true" class="main">
  <div class="bubble"></div>
  <div class="small-bubble"></div>
  <ion-grid>
  <ion-row class="logo-holder">
    <ion-col size="12">
      <h3  style="color: #20AC7A;">All Vocations</h3>
      <ion-card>
        <ion-card-content>
          <ion-row>
          <ion-col size="4">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="8">
            <h3 style="">Fashion Designer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt temporibus eligendi accusantium nam iure rerum quasi ratione.</p>
            <ion-router-link href="/materials" class="ion-align-self-end" style="color: #20AC7A; text-align: right; font-weight: bold"><ion-icon name="arrow-forward-outline"></ion-icon> View Materials</ion-router-link>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
          <ion-col size="4">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="8">
            <h3 style="">Fashion Designer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sunt temporibus eligendi accusantium nam iure rerum quasi ratione.</p>
            <ion-router-link href="/materials" class="ion-align-self-end" style="color: #20AC7A; text-align: right; font-weight: bold"><ion-icon name="arrow-forward-outline"></ion-icon> View Materials</ion-router-link>
          </ion-col>
        </ion-row>
        </ion-card-content>
      </ion-card>
    
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
