
<ion-content [fullscreen]="true" class="main">
  <div class="bubble"></div>
  <div class="small-bubble"></div>
  <ion-grid>
  <ion-row class="logo-holder">
    <ion-col size="10" offset="1">
      <div class="img-wrapper">
      <img src="assets/logo.png" alt="">
    </div>
    <h5>ENTREPRENUERSHIP EDUCATION SUPPORT SYSTEM</h5>
    <ion-router-link href="/login" class="top-btn"><ion-button color="light" expand="block">  Login</ion-button></ion-router-link>
    <ion-router-link href="/login" class="btn"><ion-button class="yellow-btn" expand="block">  Register</ion-button></ion-router-link>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
